doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Welcome to UFarm
    //- CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/ufarmain.css')
    script(src='https://kit.fontawesome.com/1bfd8a1bfc.js', crossorigin='anonymous')
  body
    header
      .container-fluid
        .row
          .col.row_bg
              //- #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
              .carousel-inner
                div.new_top 
                  img(src='/images/logo.png', alt='...' maxwidth='262px' height='114px')
                div.nav-float
                  div.new-top-nav
                    h5 
                      a.my-new-link(href='/index') Home
                  div.new-top-nav
                    h5 
                      a.my-new-link(href='#') About us 
                  div.new-top-nav
                    h5 
                      a.my-new-link(href='#') Contact us 
                  div.new-top-nav
                    h5 
                      //- a.my-new-link(href='/login') Signup
                      a.my-new-link(data-bs-toggle='modal', data-bs-target='#exampleModal') Signup 
                  div.new-top-nav
                    h5 
                      a.my-new-link(href='/login') LogIn 
      #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.clientregform
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Welcome! Create New Account
              button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body
              form(action='/registerclient' name='clientsignup' method="POST" onsubmit="return Validate();")
                  .frmelement
                    label(for='role') 
                    input#role.agricofficerinput(type='text', name='role' value='client' hidden=true)
                    br
                    small#roleerr
                  .frmelement
                    label(for='uniquenum') UserName:
                    br
                    input#uniquenum.agricofficerinput(type='text', name='uniquenum')
                    br
                    small#uniquenumerr
                  .frmelement
                    label(for='email') Email: 
                    br
                    input#email.agricofficerinput(type='email', name='email', placeholder='Enter Email')
                    br
                    small#emailerr
                  .frmelement
                    label(for='fo-fname') First Name: 
                    br
                    input#for-fname.agricofficerinput(type='text', name='firstname')
                    small#firstnameerr
                  .frmelement
                    label(for='fo-lname') Last Name:
                    br
                    input#fo-lname.agricofficerinput(type='text', name='lastname')
                    small#lastnameerr
                  .frmelement
                    label(for='phoneno') &#x1F4DE;Phone Number:
                    br
                    input#phoneno.agricofficerinput(type='text', placeholder='07xxXXXXXX', name='phoneno', onblur='checkPhone()')
                  .frmelement
                    label(for='password') Password: 
                    br
                    input#password.agricofficerinput(type='password', name='password', onblur='checkpassWord()')
                    br
                    small#passworderr
                  .frmelement
                    input#frm-btn-ao(type='submit', value='Sign up      📝')
                    br
            .modal-footer
              | &copy; Ufarm Masajja Agro Culture Limited                  
    main
      .container
        .row
          .col-md-3
            .d-flex.align-items-start
              #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                h6 Shop by Category
                button#v-pills-home-tab.nav-link.active(data-bs-toggle='pill', data-bs-target='#v-pills-home', type='button', role='tab', aria-controls='v-pills-home', aria-selected='true') Dairy
                hr
                button#v-pills-messages-tab.nav-link(data-bs-toggle='pill', data-bs-target='#v-pills-messages', type='button', role='tab', aria-controls='v-pills-messages', aria-selected='false') Horticultural
                hr
                button#v-pills-settings-tab.nav-link(data-bs-toggle='pill', data-bs-target='#v-pills-settings', type='button', role='tab', aria-controls='v-pills-settings', aria-selected='false') Poultry
                hr
                br
                br
                h6 Shop by Supplier
                hr
                button#mypill.nav-link(data-bs-toggle='pill', data-bs-target='#', type='button', role='tab', aria-controls='v-pills-home', aria-selected='true') AINO & Sons Enterprise
                hr
                button#mypill.nav-link(data-bs-toggle='pill', data-bs-target='#', type='button', role='tab', aria-controls='v-pills-messages', aria-selected='false') Albo Agro Exports Limited
                hr
                button#mypill.nav-link(data-bs-toggle='pill', data-bs-target='#', type='button', role='tab', aria-controls='v-pills-settings', aria-selected='false') Ba Yozefu Family Business
                hr
                button#mypill.nav-link(data-bs-toggle='pill', data-bs-target='#', type='button', role='tab', aria-controls='v-pills-home', aria-selected='true') Busi Limited
                hr
                button#mypill.nav-link(data-bs-toggle='pill', data-bs-target='#', type='button', role='tab', aria-controls='v-pills-messages', aria-selected='false') DAMARK Agribusiness Ventures
                hr
                button#mypill.nav-link(data-bs-toggle='pill', data-bs-target='#', type='button', role='tab', aria-controls='v-pills-settings', aria-selected='false') EMAMA Limited
                hr
          .col-md-9
              #v-pills-tabContent.tab-content
                #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab', tabindex='0') 
                  if dairyGoods.length
                    each product in dairyGoods
                        if product.status == "Approved"
                            .card.mycardimensions
                                img(src="/"+product.productimage, alt="Image" width='50px' height="50px") 
                                .card-body
                                    h6.card-title
                                      p.card-text
                                      strong #{product.availability}
                                      br
                                      Name #{product.productname}
                                      br
                                      UGX UGX #{product.unitprice}
                                      a.btn.btn-primary.my-btn-primary.my-btn(href='/produce/orders/'+product._id) Order
                #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab', tabindex='0')
                #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab', tabindex='0')
                  if horticultureGoods.length
                      each product in horticultureGoods
                        if product.status == "Approved"
                            .card.mycardimensions
                                img(src="/"+product.productimage, alt="Image" width='150px' height="150px") 
                                .card-body
                                    h6.card-title
                                      p.card-text
                                      strong #{product.availability}
                                      br
                                      Name #{product.productname}
                                      br
                                      UGX UGX #{product.unitprice}
                                      a.btn.btn-primary.my-btn-primary.my-btn(href='/produce/orders/'+product._id) Order
                #v-pills-settings.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab', tabindex='0')
                  if poultryGoods.length
                      each product in poultryGoods
                        if product.status == "Approved"
                            .card.mycardimensions
                                img(src="/"+product.productimage, alt="Image" width='150px' height="150px") 
                                .card-body
                                    h6.card-title
                                      p.card-text
                                      strong #{product.availability}
                                      br
                                      Name #{product.productname}
                                      br
                                      UGX UGX #{product.unitprice}
                                      a.btn.btn-primary.my-btn-primary.my-btn(href='/produce/orders/'+product._id) Order
      br
    footer
      .contaner-fluid.my-footer.center-div
        .row
          .col
            table
              tbody
                tr
                  td.table1-cell
                    a(href='#') LogIn
                  td.table1-cell.table2-cell
                    a(href='#') Privacy Policy
                  td.table1-cell.table2-cell
                    a(href='#') Terms of Use
                  td.table2-cell Copyright &copy; 2022 Ufarm Masajja Agro Culture Limited
    //- JavaScript Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa', crossorigin='anonymous')
    //- script(src='/js/validateform.js')
