extends registerlayout
block content
    form(action='/ufarmerupload' name='urbanfarmerupload' enctype="multipart/form-data" method="POST")
      .container
        .row.regfrmborderao
          .col-md-12
            h3 Urban Farmer: Upload Your Produce/Products
          .col-md-6
            //-Notice for supplierbizname, Email and Ward how you set it up so the user-specific value is automatically fetched and filled in from the Registration model. You also need to let Mongodb know to reference these by setting it up in the Urbanfarmeruploads schema.
            .frmelement
              label(for='supplierbizname') Supplier Business Name: 
              br
              select#supplierbizname.agricofficerinput(name='supplierbizname')      
                if currentUser
                  option(value=currentUser._id) #{currentUser.supplierbizname}
            .frmelement
              label(for='supplierid') Supplier Email:
              br
              select#supplierid.agricofficerinput(name='email')
                if currentUser
                  option(value=currentUser._id) #{currentUser.email}
            .frmelement
              label(for='fo-ward') Ward: 
              br
              select#fo-ward.select-drpdwn(name='ward')
                if currentUser
                  option(value=currentUser.ward) #{currentUser.ward}    
            .frmelement
              label(for='productcode') Product Code: 
              br
              input#productcode.agricofficerinput(type='text', name='productcode')
            .frmelement
              label(for='productcategory') Product Category: 
              br
              select#productcategory.select-drpdwn(name='productcategory')
                option(value='')
                option(value='Diary') &#x1F404;Dairy
                option(value='Horticulture') &#x1F34F;Horticultural
                option(value='Poultry') &#x1F414;Poultry
            .frmelement
              label(for='productname') Product Name: 
              br
              input#productname.agricofficerinput(type='text', name='productname')
            .frmelement
                label(for='availability') Availability: 
                br
                select#availability.select-drpdwn(name='availability')
                  option(value='')
                  option(value='instock') In stock
                  option(value='outofstock') N/A
          .col-md-6
            .frmelement
              lable(for='producttype') Product Type:
              br
              input#organic(type='radio', name='producttype', value='organic')
              label(for='organic') Organic
              |  &nbsp; &nbsp;
              input#noneorganic(type='radio', name='producttype', value='noneorganic')
              label(for='gender-female') None organic
            .frmelement
              label(for='stockbalance') Units in Stock:
              br
              input#stockbalance.numfieldinput(type='number', name='stockbalance')
            .frmelement
              label(for='unitprice') Unit Price (UGX):
              br
              input#unitprice.numfieldinput(type='number', name='unitprice')
            .frmelement
              label(for='productimage') Upload Image:
              br
              input#productimage(type='file', name='productimage')
            .frmelement
              label(for='pytmode') Payment Mode: 
              br
              select#pytmode.select-drpdwn(name='pytmode')
                option(value='')
                option(value='cash') Cash
                option(value='mobilemoney') Mobile Money
            .frmelement
              label(for='deliverymode') Delivery Mode: 
              br
              select#deliverymode.select-drpdwn(name='deliverymode')
                option(value='')
                option(value='pickup') Pick up
                option(value='homedelivery') Home 
          .col-md-6
            .frmelement
              input#frm-btn-ao(type='reset', value='Reset')
              br
          .col-md-6
            .frmelement
              input#frm-btn-ao(type='submit', value='Upload Product    📤')
              br