extends layout2
block content
    header.card-header
        h4.card-title List of Farmer ones
    br
    nav
    #nav-tab.nav.nav-tabs(role='tablist')
        a#nav-profile-tab.nav-item.nav-link(href='/fo-list') All Farmer Ones
    #nav-tabContent.tab-content
    br
    table.table.table-bordered 
        thead
            tr
                th Ward 
                th First Name 
                th Last Name
                th Sex
                th NIN
                th Date of Reg
                th Business Name 
                th Update
                th Delete
        tbody
            if farmerOnes.length
                each farmerone in farmerOnes
                    tr
                        td #{farmerone.ward}
                        td #{farmerone.firstname}
                        td #{farmerone.lastname}
                        td #{farmerone.sex}
                        td #{farmerone.nin}
                        td #{farmerone.DateOfReg}
                        td #{farmerone.supplierbizname}
                        td
                            a#report-btn-update(href='/farmerOne/update/'+farmerone._id) Update
                        td
                            form(method="post" action='/farmerOne/delete')
                                input(type="hidden" placeholder="" name="id", value=farmerone._id)
                                button.btn.btn-danger.btn-block(type="submit") Delete
    div.form-row
        div.col.form-group
            a(class='button' href='/ao-area') Back

block footer
    div.col-md-12 list contains incumbent, former and prospective farmer ones
